@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,2&display=swap");
@import "tailwindcss";

:root {
    --primary: oklch(0.7818 0.1426 179.22);
    --background: oklch(0.252 0 0);
    --font-sans: "Satoshi", sans-serif;
}

@theme inline {
    --color-primary: var(--primary);
    --color-background: var(--background);

    --text-10xl: 16rem;
}

body {
    @apply m-0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
